---
const { title_1, title_2, title_3, description, image, phone, google } =
  Astro.props;

---

<div
  class="relative container px-5 lg:w-[1340px] flex flex-col lg:flex-row mx-auto z-0 mb-10 footer-overlay bg-primary bg-cover bg-center bg-overlay rounded-3xl"
>
  <div class="py-20 px-5 lg:px-20">
    <h1
      class="text-white font-extrabold text-center lg:text-left text-5xl md:text-6xl lg:text-7xl mb-4 animate-on-scroll"
    >
      {title_1}
      <p
        class="text-[#FFB703] underline text-center font-extrabold text-5xl md:text-6xl lg:text-7xl my-1 lg:my-0 animate-on-scroll"
      >
        {title_2}
      </p>
      {title_3}
    </h1>
    <p
      class="text-white text-sm lg:text-md text-center lg:text-left mb-4 animate-on-scroll"
    >
      {description}
    </p>
    <div
      class="flex items-center lg:items-start justify-center lg:justify-normal gap-3"
    >
      <!-- App Store Button -->

      <button id="app-store-btn" type="button" style="cursor: pointer; z-index: 999;">
        <img src={phone} alt="App Store" width="250" />
      </button>
      
      <button id="play-store-btn" type="button" style="cursor: pointer; z-index: 999;">
        <img src={google} alt="Google Play Store" width="250" />
      </button>
      
      
    </div>
  </div>

  <div>
    <img
      class="relative lg:absolute top-0 lg:-top-[14px] -right-5 lg:right-0 bg-cover rounded-3xl h-full lg:h-[500px] animate-on-scroll"
      src={image}
      alt="Feature Image"
    />
  </div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    console.log("JavaScript Loaded!");

    document.body.addEventListener("click", (event) => {
      if (event.target.closest("#app-store-btn")) {
        console.log("✅ App Store Button Clicked! Redirecting...");
        window.open("https://apps.apple.com/us/app/veloxy/id6504430463", "_blank");
      }
      if (event.target.closest("#play-store-btn")) {
        console.log("✅ Play Store Button Clicked! Redirecting...");
        window.open("https://play.google.com/store/apps/details?id=com.veloxycustomer&pli=1", "_blank");
      }
    });
  });
</script>


